a{
    text-decoration: none;
    color: #909090;
}








/* data-divs starting */
.data{
    /* border: 1px solid red; */
    display: flex;
    width: 80%;
  justify-content: space-between;
}

#data-divs-1{
/* border: 1px solid black; */
width: 80%;
margin: auto;
margin-top: 50px;
}
#data-divs-2{
display: grid;
grid-template-columns: repeat(5,1fr);
width: 80%;
margin: auto;
gap: 30px 20px;
}

#data-divs-2>h1{
    /* border: 1px solid red; */
    grid-area: 6/1/7/3;
}
#data-divs-2>div:nth-child(26){
    /* border: 1px solid blanchedalmond; */
    grid-area: 7/1/8/2;
}
#data-divs-2>div:nth-child(27){
    /* border: 1px solid blanchedalmond; */
    grid-area: 7/2/8/3;
}
#data-divs-2>div>div>img{
    width: 80%;
    border-radius: 10px;
}

/* data-divs ending */
/* t_c- starting */
#t_c{
width: 80%;
margin: auto;
margin-top: 50px;
margin-bottom: 50px;

}
/* t_c- ending */

/* FAQ'S Starting */
#FAQ_S{
width: 80%;
margin: auto;
/* border: 1px solid red; */
margin-bottom: 50px;

}
#FAQ_S>div:nth-child(1){
    /* border: 1px solid rebeccapurple; */
    display: flex;
    justify-content: space-between;
}

/* FAQ'S ending */

/* bot starting  */

#bot{
/* border: 1px solid red; */
background-color: #171A26;
color: #544D49;
}
#bot>div{
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 50px;
}
#bot>div>div{
    margin-top: 50px;
    width: 50%;
    margin-right: 20px;

}

/* bot ending  */

/* bottom 2 parts starting  */

#bottom-1{
display: flex;
background-color: black;
}
#bottom-1>div{
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.bottom-1-1{
width: 30%;
margin-right: 30px;
color: #909090;
}

#bottom-2{
    display: flex;
    background-color: #111213;
}
#bottom-2>div{
    margin-top: 50px;
    width: 12%;
    margin: auto;
    line-height: 30px;
    /* border: 1px solid red; */
}

/* bottom 2 parts ending  */
