body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

/* NAVBAR CSS STARTING */
/* 
#navbar {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 50px;
    justify-content: space-between;
    margin: auto;
    position: fixed;
    background-color: #171A26;
}

#navbar>div:nth-child(2) {
     border: 1px solid red; 
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#navbar>div:nth-child(2)>h3 {
    padding-right: 50px;
}

#navbar>div:nth-child(3) {
     border: 1px solid red; 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    margin: auto;
    margin-left: 30px;
    color: white;
    column-gap: 50px;

} */

/* NAVBAR CSS ENDING */
#div-1st {
    display: flex;
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
}
/* 
#written {
    width: 25%;
    line-height: 40px;
    color: #636D6D;
    display: flex;
    flex-direction: column;
} */

#wrapper{
    box-sizing: content-box;
    height: 80px;
    width: 50px;
    padding: 30px;
    display: flex;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2) ;
}

.words{
    overflow: hidden;
}

.words>span{
    display: block;
    animation: spin_words 5s infinite;
}

@keyframes spin_words{
    10%{
        transform: translateY(-112%);
    }
    25%{
        transform: translateY(-100%);
    }
    35%{
        transform: translateY(-212%);
    }
    50%{
        transform: translateY(-200%);
    }
    60%{
        transform: translateY(-312%);
    }
    75%{
        transform: translateY(-300%);
    }
    85%{
        transform: translateY(-412%);
    }
    100%{
        transform: translateY(-400%);
    }
}

video {
    border-radius: 10px;
    margin-left: 50px;
}

/* div-2nd-2-starting*/

#div-2nd {
    /* border: 1px solid red; */
    width: 80%;
    margin: auto auto 50px;
    /* border: 1px solid red; */
}

#div-2nd-2 > ul {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 50vh;
    background: #CCC;
    margin: auto;
    padding: 0;
    /* border: 1px solid green; */
    border-radius: 10px;
}

.content > button {
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    background-color: transparent;

}

#div-2nd-2 > ul li {
    list-style: none;
    position: relative;
    width: 33.33%;
    height: 100%;
    /* border: 1px solid #000; */
    float: left;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
    color: white;
}

#div-2nd-2>ul li:nth-child(1) {
    background: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/6285c073-5e3d-4abf-9189-21403628a1f4.png');
    background-size: cover;
    background-position: left;
    border-radius: 10px 0;
}

#div-2nd-2>ul li:nth-child(2) {
    background: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/f66c717a-bcb9-4d64-b227-115d1010b610.jpeg');
    background-size: cover;
    background-position: left;
}

#div-2nd-2>ul li:nth-child(3) {
    background: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/a707c2fc-f789-477b-a9c7-c484fe9d86a6.jpeg');
    background-size: cover;
    background-position: left;
    border-radius: 0 10px;

}

#div-2nd-2>ul:hover li {
    width: 10%;
}

#div-2nd-2>ul li:hover {
    width: 80%;
}

#div-2nd-2 > ul li.content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 30%;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    color: #fff;

}

#div-2nd-2>ul li:hover .content {
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
}

/* div-2nd-2-ending*/

/* div-3rd-2-starting*/

#div-3rd {
    width: 80%;
    margin: auto auto 50px;
    /* border: 1px solid red; */
}


#div-3rd-2 > ul {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 50vh;
    background: #CCC;
    margin: auto;
    padding: 0;
    /* border: 1px solid green; */
    border-radius: 10px;
}

.content > button {
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    background-color: transparent;

}

#div-3rd-2 > ul li {
    list-style: none;
    position: relative;
    width: 33.33%;
    height: 100%;
    /* border-right: 1px solid #000; */
    float: left;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
    color: white;
}

#div-3rd-2>ul li:nth-child(1) {
    background: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/d2ceda2f-0362-43f6-9a5a-d1c57f54e7f9.png');
    background-size: cover;
    background-position: left;
    border-radius: 10px 0;
}

#div-3rd-2>ul li:nth-child(2) {
    background: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/0fedd809-8ebf-4c79-8306-0207522155fe.png');
    background-size: cover;
    background-position: left;
}

#div-3rd-2>ul li:nth-child(3) {
    background: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/4041957e-947a-4cba-b9ac-940316910888.png');
    background-size: cover;
    background-position: left;
    border-radius: 0 10px;

}

#div-3rd-2>ul:hover li {
    width: 10%;
}

#div-3rd-2>ul li:hover {
    width: 80%;
}

#div-3rd-2 > ul li.content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 30%;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    color: #fff;

}

#div-3rd-2>ul li:hover .content {
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
}

/* div-3rd-2-ending*/

/* div-4th-2-starting*/

#div-4th {
    width: 80%;
    margin: auto auto 50px;
    /* border: 1px solid red; */
}
#div-4th>div:nth-child(1)>img {
width: 10%;
}

#div-4th-2 > ul {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 50vh;
    background: #CCC;
    margin: auto;
    padding: 0;
    /* border: 1px solid green; */
    border-radius: 10px;
}

.content > button {
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    background-color: transparent;

}

#div-4th-2 > ul li {
    list-style: none;
    position: relative;
    width: 33.33%;
    height: 100%;
    /* border-right: 1px solid #000; */
    float: left;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
    color: white;
}

#div-4th-2>ul li:nth-child(1) {
    background: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/5c333536-cc72-4e5a-8648-9dcb8006f7c0.png');
    background-size: cover;
    background-position: left;
    border-radius: 10px 0;
}

#div-4th-2>ul li:nth-child(2) {
    background: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/631e1299-7ad1-4e06-b410-f77671c2c540.png');
    background-size: cover;
    background-position: left;
}

#div-4th-2>ul li:nth-child(3) {
    background: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/dec83eee-b999-4058-ac0f-6d346b8d071a.png');
    background-size: cover;
    background-position: left;
    border-radius: 0 10px;

}

#div-4th-2>ul:hover li {
    width: 10%;
}

#div-4th-2>ul li:hover {
    width: 80%;
}

#div-4th-2 > ul li.content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 30%;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    color: #fff;

}

#div-4th-2>ul li:hover .content {
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
}

/* div-4th-2-ending*/
/* div-5th-2-starting*/

#div-5th {
    width: 80%;
    margin: auto auto 50px;
    /* border: 1px solid red; */
}


#div-5th-2 > ul {
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 50vh;
    background: #CCC;
    margin: auto;
    padding: 0;
    /* border: 1px solid green; */
    border-radius: 10px;
}

.content > button {
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    background-color: transparent;

}

#div-5th-2 > ul li {
    list-style: none;
    position: relative;
    width: 33.33%;
    height: 100%;
    /* border-right: 1px solid #000; */
    float: left;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
    color: white;
}

#div-5th-2>ul li:nth-child(1) {
    background: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/9f1b091f-b0ee-4920-8172-fb095c2d7a0b.png');
    background-size: cover;
    background-position: left;
    border-radius: 10px 0;
}

#div-5th-2>ul li:nth-child(2) {
    background: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/83ea52e7-666f-4f60-8027-4f03e5bf9605.png');
    background-size: cover;
    background-position: left;
}

#div-5th-2>ul li:nth-child(3) {
    background: url('https://cdn-images.cure.fit/www-curefit-com/image/upload/w_600,h_470,fl_progressive,f_auto,q_auto:eco/dpr_2/image/vm/6f98a852-e6ea-463c-8372-49dc8991b952.png');
    background-size: cover;
    background-position: left;
    border-radius: 0 10px;

}

#div-5th-2>ul:hover li {
    width: 10%;
}

#div-5th-2>ul li:hover {
    width: 80%;
}

#div-5th-2 > ul li.content {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 30%;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    color: #fff;

}

#div-5th-2>ul li:hover .content {
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
}

/* div-5th-2-ending*/

/* div-6th-starting*/

#div-6th {
    width: 80%;
    margin: auto auto 50px;
    /* border: 1px solid red; */
}


#div-6th-2 {
    /* border: 1px solid green; */
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: yellow;
    border-radius: 10px;

}

#div-6th-2 > div > img {
    width: 100%;
    height: 100%;
    border-radius: 0 10px 10px 0;
}

#content {
    width: 60%;
    margin-left: 30px;
}

#content > p {
    line-height: 40px;
}

#content > button {
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid black;
    color: black;
    background-color: transparent;

}
/* div-6th-ending */

/* div-7th-starting */

#div-7th {
    display: flex;
    background-color: #4D79B8;
    width: 100%;
    margin: auto;
}
#div-7th > div {
    margin: auto;
}

#div-7th > div > img {
    width: 60%;
}

/* div-7th-ending */

/* div-8th-starting */
#div-8th {
    width: 100%;
    margin: auto;
}
#div-8th > img {
    width: 100%;
}
/* div-8th-starting */
